/* CABECALHO */

.cabecalho__container {
    display: flex;  /* Deixa todos os elementos 1 do lado do outro */
    justify-content: space-between; /*Deixa o espaço entre os icones */
    align-items: center;  /* Ele colcoca os icones para o centro do container */
    position: fixed;  /* Fixa e nao desce com a barra de rolagem */
    top: 0;  /* Onde ele fica fixo */
}

.cabecalho__pesquisar__item {
    display: none;  /* Esconde a barra de pesquisa */
}

/* MOBILE E TABLETE */
/* Menu aplicado 100% ao elemento pai que é o body */
.menu__container {
    position: fixed;  /* Aqui fixa na parte de baixo */
    bottom: 0%;
    height: 74px;  /* Diminui a altura */
    width: 100%;  /* Deixa 100% da largura da tela de um lado ao outro */
}

/* ORGANIZANDO OS ELEMENTOS DENTRO DO MENU MOBILE E TABLETE */
/* Foi aplicado no pai do MENU que é a ul */
.menu__lista {
    display: flex;
    justify-content: space-around;  /* Espaçamento maior entre os itens */
    height: 100%;
} 

/* Aplico a centralização em todos os li */
.menu__lista li {
    align-self: center;  /* Posso alinhar cada um dos itens da maneira que eu quiser */
}

/* Aplicando flex no pai da tag i e span */
/* Fazendo com que os inoes fique fique abaixo dos nomes que estão no span */
.menu__itens {
    display: flex;
    flex-direction: column;
    gap: 5px;  /* Descolo os icones dos nomes */
}

/* Jeito de fazer sem criar class */ 
/* Esse 2 3 4 são reeferente ao bloco de listas */
.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
    display: none;
}

/* SUPERIOR SEÇÃO */
.superior__secao__container {
    display: flex;  /* Os elementos ficarão um do lado do outro */
    align-items: center;  /* Alinha de cima para baixo no eixo principal */
    white-space: nowrap;  /* Ele alinha palavras dentro do flex */
    overflow-x: auto;  /* Cria uma barra de rolagem  */
    gap: 0.9375rem; /* O gap aplica espaçamento entre os itens e não na extremidade */
}

/* VIDEO */

/* O dos li, no caso a classe que está no ul */
.videos__container {
    display: flex;  /* Deixa todos os videos na mesma linha */
    flex-wrap: wrap;  /* Divide os videos deixando um embaixo do outro */
    gap: 10px;
}

/* Definição da altura e a largura dos videos na li que é o pai */
.videos__item {
    height: 303px;
    width: 280px;
    flex-grow: 1;  /* Os videos crescem todos proporcionalmente */
}

/* FOOTER */

.rodape__container {
    display: flex;  /* Joga as colunas para uma do lado da outra */
    
    /* flex-direction: column;  Muda da vertical para horizontal
    flex-wrap: wrap; Quebrou o footer em várias colunas */
    flex-flow: column wrap; /* É o equivalente as duas propriedades de cima */
}


/* MEDIA QUERY */

@media (min-width: 834px) {

    /* CABEÇALHO */
    .cabecalho__pesquisar__item {
        display: block;  /* Aqui ele reaparece para telas maiores */
    }


    /* MENU LATERAL ADICIONADO NA ATIVIDADE EXTRA */
    .menu__container {
        left: 0;
        height: auto;
        width: 74px;
        top: 80px;
    }

    .menu__lista {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 15px;
        gap: 33px;
    }

    /* RODAPÉ */
    .rodape__container {
        justify-content: space-between;  /* Deu espaço entre as colunas do footer */
    }
}

/* RESPONSIVIDADE PARA DESKTOP */

@media(min-width: 1400px) {

    /* MENU LATERAL */

    .menu__container {
        width: 239px;
        overflow-x: auto;
    }
    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4) {
        display: flex;
    }

    .menu__lista {
        height: auto;
        padding: 20px 17px 20px 15px;
        gap: 15px;  /* diminue os esaços das li, ou seja, do nome no menu */
    }

    .menu__itens {
        flex-direction: row;
        gap: 15px;
        align-items: center;  /* Centraliza os icones e textos */
    }

    .menu__lista:nth-child(3) {
        flex-direction: column-reverse;  /* Reverteu o terceiro bloco da lista */
    }

    /* Definindo a ordem dos elementos da li */
    .jogos {
        order: 3;
    }

    .filmes {
        order: 2;
    }

    .premium {
        order: 1;  /*  */
    }

    .maispagina {
        order: 4;  /* Video Premium */
    }
}